@model IEnumerable<Review>

<h2 class="mt-3"><i class="fa-solid fa-cart-shopping"></i> Reviews</h2>

<span id="productName">words</span>
@* @Model.First().Product.ProductName *@
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-left">Date</th>
      <th scope="col" class="text-center">Rating</th>
      <th scope="col" class="text-right">Comment</th>
      
    </tr>
</thead>
<tbody id="productReview_rows" data-id="@Model.First().ProductId">
</tbody>
</table> 

@section Scripts
{
<script = src="../../js/product.js">
</script>
}

