@model IEnumerable<Product>
<h2 class="mt-3"><i class="fa-solid fa-cart-shopping"></i> Purchases</h2>
<h4>All Purchesed Products</h4>

@* <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-left">Order ID</th>
      <th scope="col" class="text-right">Order Date</th>
      <th scope="col" class="text-right">Shipped Date</th>
    </tr>
</thead>
<tbody id="product_rows" data-id="@ViewBag.id"> *@



</tbody>
</table>

@* <div class="list-group">
    @foreach (Product p in Model)
    {


        <a asp-action ="InputReview" asp-route-id="@p.ProductId" class="list-group-item list-group-item-action">@p.ProductName</a>
    }
</div> *@

@section Scripts
{
  <script src="../../js/customer.js">
  </script>
}