@model IEnumerable<Product>
<h2 class="mt-3"><i class="fa-solid fa-cart-shopping"></i> Purchases</h2>
<h4>All Purchased Products Pending Review</h4>
<span>Click on product to add Review</span>


<div class="list-group">
    @foreach (Product p in Model)
    {
        <tr>
          <td>
            <a asp-Controller="Customer" asp-action="InputReview" asp-route-id="@p.ProductId" class="list-group-item list-group-item-action">@p.ProductName</a>
          </td>
        </tr>
    }
</div>


@section Scripts
{
  <script src="../../js/customer.js">
  </script>
}